@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

img {
    display: block;
    width: 100%;
}

li {
    list-style: none;
}
ul {
    all: unset;
    display: flex;
    gap: 60px;
}

body {
    font-family: "Inter", sans-serif;
    line-height: 1.5;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    max-width: 1300px;
    margin: auto;
}

.white-wrapper {
    /* margin-inline: 260px; */
}

button {
    background-color: white;
    border: none;
    padding: 10px 14px;
    border-radius: 8px;
    cursor: pointer;
}

.green {
    background-color: #ade2df;
}

button:hover {
    border: 1px solid black;
}

.hero-section {
    background-color: #ade2df;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 80px;
}

h1 {
    font-size: 70px;
    font-weight: 600;
}

.header-text {
    font-size: 18px;
    padding-bottom: 40px;
}

.black {
    padding: 16px 30px;
    background-color: black;
    color: white;
}

.black:hover {
    background-color: white;
    color: black;
}

.main-wrapper {
    display: flex;
    justify-content: center;
    max-width: 1300px;
    margin: auto;
}

.info-card {
    border-left: 1px solid #dbdbdb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* max-width: 400px; */
    text-align: center;
    padding-inline: 20px;
    margin-top: 80px;
    padding-bottom: 70px;
}

.main-wrapper .info-card:last-child {
    border-right: 1px solid #dbdbdb;
}

.text {
    font-size: 18px;
    padding-block: 20px;
}

.number {
    font-size: 40px;
    font-weight: 600;
}
