@media screen and (max-width: 600px) {
    body {
        font-size: 10px;
    }
    .div-header {
        display: none;
    }

    .options {
        flex-direction: column;
    }

    .options article {
        text-align: center;
        width: 100%;
    }

    .options a {
        display: none;
    }

    .gallery {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .gallery article a {
        display: none;
    }
    .gallery article p {
        font-size: 16px;
    }

    .gallery article {
        width: 40%;
    }

    .gallery article > img {
        width: 100%;
        height: auto;
        aspect-ratio: 16 / 9;
    }

    .blog article img {
        display: none;
    }

    .blog-title a,
    .blog-title h4 span,
    .magazine-title a {
        display: none;
    }

    .blog-title h4,
    .magazine-title h4 {
        font-size: 20px;
    }

    #about-blog {
        width: 90%;
        height: unset;
    }

    #about-blog h3 {
        font-size: 14px;
    }
    #about-blog p {
        font-size: 10px;
    }

    .magazine article {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #magazine-img {
        width: 60%;
        height: 20%;
        padding-left: 20px;
        border: 1px solid grey;
    }

    .magazine-info img {
        width: 100%;
        height: auto;
        aspect-ratio: 16 / 4;
    }

    .magazine-info {
        margin-left: 0px;
        text-align: center;
    }

    footer {
        flex-direction: column;
    }
    .icons {
        display: flex;
        flex-direction: column;
    }
}
