@media screen and (max-width: 600px) {
    nav ul {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        font-size: 18px;
    }

    header nav {
        display: block;

        margin: 0 auto;
    }

    .header-title h1 {
        font-size: 36px;
        padding-bottom: 0.5em;
    }

    .header-title button {
        padding: 0.9em 1.1em;

        font-size: 18px;
        border: none;
        border-radius: 0.3rem;
        background: rgb(231, 238, 240);
        margin-top: 2em;
    }

    .header-title {
        padding: 2em 0;
    }

    .team-description ul {
        flex-wrap: wrap;
        row-gap: 80px;
    }

    .team-description ul li img {
        max-width: 200px;
        max-height: 200px;
        padding-bottom: 0.3rem;
    }

    .about-us p:nth-child(3) {
        width: 100%;
    }

    .choose-us ul {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .choose-us li {
        max-width: 60%;
    }

    .blog-news ul {
        flex-direction: column;
        /* max-width: 60%; */
        align-items: center;
        gap: 30px;
    }

    .blog-news ul .item {
        max-width: 80%;
    }

    .blog-news ul .item .avatar img {
        display: block;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        aspect-ratio: 1 / 1;
    }

    .blog-news .content {
        width: 60%;
    }

    .blog-news .content {
        /* width: 100%; */
        padding: 0 1rem;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: white;
    }
}
